<div class="container pt-5">

  <form action="/login" method="POST" class="row flex-column no-gutters">
    <h1 class="col-12 text-center mb-4">Account login</h1>
    <label for="account" class="col-12  pb-2 mb-3">
      <input type="text" name="account" id="account" placeholder="Email" class="w-100">
    </label>
    <label for="password" class="col-12  pb-2 mb-3">

      <input type="password" name="password" id="password" placeholder="Password" class="w-100">
    </label>
    <button type="submit" class="col-12 btn btn-primary">sign in</button>
    {{#if filled}}
    <p class="text-danger">please enter your email and password</p>
    {{/if}}
  </form>


</div>